div.stopwatch {
    display:flex;
    flex-grow:1;
    flex-direction: column;

}





div.hidden-toolbar {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding:1rem 2rem;
}

div.hidden-toolbar div:first-child {
    font-size:2rem;
}





.stopwatch h2 {
    display:block;
    font-weight:normal;
    font-size: clamp( 1.5rem, 16vw, 10vh);
    text-align:center !important;
    padding:1rem 2rem;
    margin: 0 auto;
} 



.time-status {
    margin-right:10vw;
    margin-left:10vw;
}

div.stopwatch div.time-controls {
    display:flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:0.125rem;
    margin-right:10vw !important;
    margin-left:10vw !important;
}



.time-controls button {
    border-radius:5vw !important;
}
.time-controls button:nth-child(odd) svg {
    height: clamp(1rem, 5vw, 10vh) !important;
}
.time-controls button:nth-child(even) svg {
    height:clamp(1rem, 6vw, 10vh) !important;
}
.time-controls button:nth-child(3) svg {
    height:clamp(1rem, 10vw, 15vh) !important;
}
.time-controls button:hover {
    fill:green !important;
}